.zshrc.local
.DS_Store
.bundle
.config/zsh/.zcompdump-*

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.luarc.json

# Karabiner
.config/karabiner/automatic_backups

# raycast
.config/raycast/extensions/*

# dpl
.config/dpl/

# zsh
.zsh_history
.config/zsh/.zsh_sessions/*
.config/zsh/.zshrc.zwc
.config/zsh/.zcompdump

# nvm
.config/nvm/
# npm
.config/configstore/update-notifier-npm.json

# lsp
.config/coc/

# copilot
.config/github-copilot/hosts.json

# lazygit
.config/lazygit/state.yml

# colima
.config/colima/*

# lazydocker
.config/lazydocker/*

# zenn
zenn-cli.json

# octo.nvim
(rite)
